* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bad Script", cursive;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #131920;
  color: white;
  overflow-x: hidden;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 50px;
}
section {
  width: 100%;
  height: 100vh;
  text-align: center;
}
@mixin container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}
.text-effect {
  // #A8C5FB
  color: white;
  text-shadow: 0 0 7px #0059ff, 0 0 10px #3078ff, 0 0 21px #4d8bff,
    0 0 42px #6ea1ff, 0 0 82px #79a8ff, 0 0 92px #a8c5fb;
  &.hover {
    cursor: pointer;
    transition: all 250ms ease-in-out;
    &:hover {
      text-shadow: 0 0 7px #0059ff, 0 0 10px #3078ff, 0 0 21px #4d8bff,
        0 0 42px #6ea1ff, 0 0 82px #79a8ff, 0 0 92px #a8c5fb, 0 0 102px #a8c5fb,
        0 0 151px #a8c5fb;
    }
  }
}
main {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  .background {
    background: rgb(80, 80, 245);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: -10;
    object-fit: cover;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    font-size: 25px;
  }
  .logo {
    img {
      width: 500px;
      height: auto;
    }
  }
  .main-content {
    margin-top: -140px;
    text-align: center;
  }
}
.btn {
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 20px;
  background: #02112c;
  font-size: 20px;
  cursor: pointer;
}
.skills-section {
  position: relative;
  overflow: hidden;
  &-background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: -10;
    object-fit: cover;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    // transform: scale(2);
  }
  .content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    .skills {
      display: flex;
      justify-content: space-between;
      border: 4px solid white;
      box-shadow: inset 0px 0px 10px #c3d8ff, 0 0 7px #6098ff, 0 0 10px #3078ff,
        0 0 21px #4d8bff, 0 0 42px #6ea1ff, 0 0 82px #79a8ff, 0 0 92px #a8c5fb;
      position: relative;
      height: 600px;
      width: 600px;
      border-radius: 50%;
      padding: 30px;
      .skill {
        position: absolute;
        z-index: 2;
        cursor: pointer;
        height: 100px;
        transition: 300ms all;
        outline: 2px solid transparent;
        &.selected {
          outline: 2px solid white;
          box-shadow: 0 0 7px #0059ff, 0 0 10px #3078ff, 0 0 21px #4d8bff,
            0 0 42px #6ea1ff, 0 0 82px #79a8ff, 0 0 92px #a8c5fb,
            0 0 10px #a8c5fb;
        }
        &:hover {
          outline: 2px solid white;
          box-shadow: 0 0 7px #0059ff, 0 0 10px #3078ff, 0 0 21px #4d8bff,
            0 0 42px #6ea1ff, 0 0 82px #79a8ff, 0 0 92px #a8c5fb,
            0 0 10px #a8c5fb;
        }
        box-shadow: inset 0px 0px 10px #c3d8ff, 0 0 7px #6098ff,
          0 0 10px #6ea1ff, 0 0 21px #79a8ff, 0 0 42px #a8c5fb;
        border-radius: 50%;
        img {
          width: 100px;
          height: auto;
        }
        &-dash {
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
        }
        &-fly {
          top: 90%;
          left: 50%;
          transform: translateX(-50%);
        }
        &-jump {
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
        }
        &-run {
          top: 50%;
          left: 100%;
          transform: translate(-50%, -50%);
        }
        &-md {
          top: 17%;
          left: 14%;
          transform: translate(-50%, -50%);
        }
        &-shield {
          top: 17%;
          left: 86%;
          transform: translate(-50%, -50%);
        }
        &-swim {
          top: 76%;
          left: 15%;
          transform: translateX(-50%);
        }
        &-ability {
          top: 76%;
          left: 85%;
          transform: translateX(-50%);
        }
      }
      .skill-set {
        display: flex;
        flex-wrap: wrap;
        max-width: 340px;
        gap: 20px;
        border: 2px solid white;
        height: 340px;
      }
      .obj3d-area {
        display: grid;
        place-items: center;
        width: 40%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        #obj3d {
          cursor: grab;
          overflow: hidden;
          &:active {
            cursor: grabbing;
          }
        }
      }
    }
    .skill-description {
      max-width: 400px;
      height: 400px;
      p {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  h1 {
    font-size: 50px;
    margin: 20px 0px;
  }
}
.trailer-section {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
  iframe {
    width: 50%;
    border: 2px solid #0059ff;
    height: 600px;
    box-shadow: 0 0 7px #3078ff, 0 0 10px #3078ff, 0 0 30px #79a8ff,
      0 0 20px #90b7ff;
  }
  &-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    object-fit: cover;
    overflow: hidden;
    display: flex;
  }
}
.game-section {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: -10;
    object-fit: cover;
    .simpleParallax {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img {
      width: 100%;
      height: 100% !important;
      object-fit: cover !important;
    }
  }
  h1 {
    font-size: 50px;
    margin: 20px 0px;
  }
  .game-slider {
    @include container;
    padding: 40px;
    margin-top: -40px;
    .swiper-slide {
      img {
        border-radius: 15px;
      }
    }
    .swiper-pagination {
      position: relative;
      z-index: 3;
      margin-top: 5px;
    }
  }
  img {
    box-shadow: 0 0 7px #3078ff, 0 0 10px #3078ff, 0 0 30px #79a8ff,
      0 0 20px #90b7ff;
    border: 2px solid #0059ff;
    width: 100%;
    height: auto;
    object-fit: cover;
    &:nth-child(1) {
      grid-area: 1 / 1;
    }
    &:nth-child(2) {
      grid-area: 1 / 2;
    }
    &:nth-child(3) {
      grid-area: 2 / 1;
    }
    &:nth-child(4) {
      grid-area: 2 / 2;
    }
  }
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.footer-area {
  background: transparent;
  position: absolute;
  footer {
    margin-top: -20px;
    background: black;
    color: white;
    .footer-content {
      @include container;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: white;
      padding-bottom: 40px;
      .footer-logo {
        img {
          max-width: 250px;
          height: auto;
        }
      }
      .social-media {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          font-size: 24px;
          color: white;
          text-shadow: 0 0 5px #0059ff, 0 0 10px #3078ff, 0 0 21px #4d8bff,
            0 0 42px #6ea1ff, 0 0 82px #79a8ff, 0 0 92px #a8c5fb;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: blue;
}

::-webkit-scrollbar-thumb {
  background: darkblue;
}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

@media (max-width: 1200px) {
  .skills-section {
    height: 150vh;
    &-background {
      height: 100%;
    }
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-top: 50px;
      .skills {
        height: 500px;
        width: 500px;
      }
    }
  }
  .trailer-section {
    iframe {
      height: 500px;
      width: 70%
    }
  }
}
@media (max-width: 700px) {
  .skills-section {
    .content {
      .skills {
        width: 400px;
        height: 400px;
        .skill {
          width: 70px;
          height: 70px;
          img {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
@media (max-width:600px) {
  .trailer-section {
    iframe {
      height: 400px;
      width: 90%;
    }
  }
  
}